/* Materialize base CDN | Mobile First Responsive */

/*
==============
  Nav
============== */

.nav-wrapper.ghost-nav {
  background-color: #fff;
}

.home-logo {
  padding-left: 20rem;
  padding-right: 20rem;
  height: 4rem;
  width: auto;
}

/*
==============
  Footer
============== */

/* Materialize Sticky Footer using Flexbox*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  /*
  ==============
    Global
  ============== */

  .raleway {
    font-family: 'Raleway';
  }


  /*
  ==============
    HomePage
  ============== */

.hero-image {
  background-image: url(../assets/images/Continental_Divide.jpg);
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  padding-top: 0;
  background-size: cover;
}

.hero-gradient {
  width: 100%;
  height: 100%;
  background-color:rgba(54, 202, 232, 0.8);
  color:#fff;
}

.hero-header {
  padding-top: 15rem;
  text-align: center;
  font-family: 'Raleway', 'sans-serif';
  margin: 0 0;
  font-weight: bold;
  font-size: 6rem;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-subheader {
  padding-bottom: 20rem;
  text-align: center;
  font-family: 'Raleway', 'sans-serif';
  font-size: 1.75rem;
  line-height: .01;
  color: black;
  font-weight: bold;
}

.sub-header {
  text-align: center;
  font-family: 'Raleway', 'sans-serif';
  font-size: 4rem;
  font-weight: bold;
  color: black;
}

.sub-card {
  font-size: .75rem;
  line-height: 1rem;
}

.project-image {
  height: 40vh;
}

/* work on getting the hover effect working https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_opacity */
.hover-image {
  opacity: 1;
  backface-visibility: hidden;
  transition: .5s ease;
}

/* not working
.transparent-nav {
  background-color: rgba(0,0,0,0);
} */

/*
==============
  SEO
============== */

.seo-chart{
  height: 60vh;
  width: 100%;
  padding: 0 5rem;
}

.property-scroll {
  height: 180vh;
  width: auto;
  padding: .5rem 0 0 0;
}

.ux-ui {
  height: 25vh;
  width: auto;
  padding-top: .5rem;
}

.scroll-text {
  margin-top: 80vh;
}

/*
==============
  RetroPie
============== */

.retropie-image {
  height: 40vh;
}

/* potentially global */
.card-header {
  font-size: 2rem;
}

.retro-space {
  margin-bottom: 2.5rem;
}

.hero-image-retropie {
  background-image: url(../assets/images/retropie_menu.jpg);
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  margin-top: 5rem;
  padding-bottom: 0;
  background-size: cover;
}


/*
======================================
  MediaQuery overrides for Materialize
====================================== */

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}


/* tablets (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}


/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}
