/* Materialize base CDN | Mobile First Responsive */

/*
==============
  Nav
============== */

.nav-wrapper.ghost-nav {
  background-color: #fff;
}

.home-logo {
  padding-left: 20rem;
  padding-right: 20rem;
  height: 4rem;
  width: auto;
}

/*
==============
  Footer
============== */

/* Materialize Sticky Footer using Flexbox*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }


  /*
  ==============
    HomePage
  ============== */

.hero-image {
  background-image: url(../assets/images/Continental_Divide.jpg);
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  padding-top: 0;
  background-size: cover;
}

.hero-gradient {
  width: 100%;
  height: 100%;
  background-color:rgba(54, 202, 232, 0.8);
  color:#fff;
}

.hero-header {
  padding-top: 15rem;
  text-align: center;
  font-family: 'Raleway', 'sans-serif';
  margin: 0 0;
  font-weight: bold;
  font-size: 6rem;
}

.hero-subheader {
  padding-bottom: 20rem;
  text-align: center;
  font-family: 'Raleway', 'sans-serif';
  font-size: 1.75rem;
  line-height: .01;
  color: black;
  font-weight: bold;
}

.sub-header {
  text-align: center;
  font-family: 'Raleway', 'sans-serif';
  font-size: 4rem;
  font-weight: bold;
  color: black;
}

.sub-card {
  font-size: .75rem;
}

.project-image {
  height: 25vh;
}

/* not working
.transparent-nav {
  background-color: rgba(0,0,0,0);
} */

/*
================
  MediaQueries
================ */

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}


/* tablets (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}


/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}
