/* Materialize imported */

/*
============================
      GLOBAL OVERRIDES
============================
*/


html {
    font-family: Trebuchet, serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/*
============================
      KeyCode
============================
*/

a.waves-effect.waves-light.btn.key {
  font-weight: bolder;
  font-size: 3rem;
  padding: 1rem 1rem 3rem 1rem;
  margin: 0 0;
  color: black;
  background-color: #A9A9A9;
  cursor: default;
}

a.waves-effect.waves-light.btn.key:hover {
  text-decoration: none;
  cursor: default;
}

.keycode {
  font-weight: bolder;
  font-size: 15rem;
  padding: 0 0;
  margin: 0 0;
  color: black;
}

.keycode-intro.keycode-image {
  height: 100%;
  width: 100%;
}
